.alert {
  padding: 1rem;
  padding-inline-start: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.alert-error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-info {
  background-color: #d1ecf1;
  border-color: #bee5eb;
  color: #0c5460;
}

.alert a {
  color: inherit;
  text-decoration: underline;
}