<img src="/images/patterns.webp" alt="" />
<h3>Inclusive Patterns</h3>

<p>
  Explore inclusive design patterns that are easy, fun, accesssible, stylish and
  user-friendly. Join our A11y challenges to showcase or improve your design or
  coding skills in accessibility.
</p>
