---
type Props = {
  title?: string;
};
const { title } = Astro.props;
---

<h2 data-ui="display">
  {title || "No Content Available"}
</h2>
<p>
  We're sorry, but it looks like there isn't any content available for this
  category at the moment.
</p>
<p>
  Our team is working hard to create and curate high-quality content to fill
  this space. In the meantime, feel free to explore other categories on our
  website, where you'll find a wide range of engaging and informative articles,
  videos, and resources.
</p>

<p>
  We appreciate your patience and understanding as we work to improve your
  experience on our platform.
</p>
<p>
  If you have any suggestions for content you'd like to see in this category,
  please don't hesitate to reach out to us.
</p>

<p>
  Thank you for visiting, and we look forward to providing you with the content
  you're looking for in the near future.
</p>
