---
export type Props = {
  title?: string;
  url?: string;
  description?: string;
};
const { title, url, description } = Astro.props;
import { Icon } from "@fpkit/acss";
---

<h3 data-ui="display">
  <a href={url}> 
    <Icon>
  <Icon.Right size={24} /> 
</Icon> 
  {title} 
</a>
</h3>
<style>
  h3{
    display: flex;
    align-items: center; 
    > a[href] {
    font-size: var(--fs-6)
    display: flex;
    align-items: center;

  }}
</style>


