---
export type Props = {
  title?: string;
  url?: string;
  description?: string;
};
const { title, url, description } = Astro.props;
---

<h2 data-ui="display">
  <a href={url}>{title}</a>
</h2>
{description && <p>{description}</p>}
<!-- <p>
  <a href={url}> <b>Continue</b></a>
</p> -->
<hr />


