---
import Card from "#components/astro/Card.astro";
---

<div data-flex="cols-3">
  <Card
    cardTitle="AstroKit"
    cardImage="/images/blank.webp"
    cardLink="/content/serve513"
  >
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque corporis
      soluta et vitae recusandae magnam atque ut consectetur minima ullam, sunt
      labore, harum dolores consequatur exercitationem ex placeat! Veniam,
      asperiores?
    </p>
  </Card>

  <Card
    cardTitle="AstroKit"
    cardImage="/images/blank.webp"
    cardLink="/content/serve513"
  >
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque corporis
      soluta et vitae recusandae magnam atque ut consectetur minima ullam?
    </p>
  </Card>

  <Card
    cardTitle="AstroKit"
    cardImage="/images/blank.webp"
    cardLink="/content/serve513"
  >
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque corporis
      soluta et vitae recusandae magnam atque ut consectetur minima ullam, sunt
      labore?
    </p>
  </Card>
</div>

<style>
  [data-grid],
  [data-flex] {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }
  [data-card] {
    border-radius: 0;
  }
</style>
