---
import { SITE_DESCRIPTION, SITE_TITLE } from "#utils/site-config.ts";

export type Props = {
  headerTitle?: string;
  headerDescription?: string;
  headerImageUrl?: string;
  headerImageAlt?: string;
};
const {  headerTitle, headerDescription, headerImageUrl, headerImageAlt } = Astro.props;
---

<header>
  <section id="header">
    <h2 data-ui="display">{headerTitle || SITE_TITLE}</h2>
    <p>{headerDescription || SITE_DESCRIPTION}</p>
   <!-- { headerImageUrl && <div><img src={headerImageUrl} alt={headerImageAlt} /></div> }   -->
  </section>
</header>
<section id="features" >
  <slot />
</section>
