 ---
export type Props = {
  headerTitle?: string;
  headerDescription?: string;
  headerImageUrl?: string;
  headerImageAlt?: string;
};
const {  headerTitle, headerDescription, headerImageUrl, headerImageAlt } = Astro.props;
 
---

<header>
  <section id="header">
    <h1 data-ui="display">{headerTitle || "Header Title Here"}</h1>
    <p>{headerDescription || "My really cool site desciption or slug"}</p>
    { headerImageUrl && <div><img src={headerImageUrl} alt={headerImageAlt} /></div> }
  </section>
</header>
<section id="features" >
  <slot />
</section>
