<nav>
  <ul>
    <li>
      <a href="/">
      <img src="/images/ymg-red@3x.png" alt="You Me and The Gospel" srcset="">
      </a>
    </li>
   
  </ul>
  <slot />
  <ul>
    <li>
      <a href="/about">About Us</a>
    </li>
  </ul>
</nav>
