<nav>
  <ul>
    <li>
      <a href="/">
      <img src="/images/ymg-marker-sm.png" alt="" srcset="">
      </a>
    </li>
   
  </ul>
  <slot />
  <ul>
    <li>
      <a href="/about">You Me and the Gospel</a>
    </li>
  </ul>
</nav>
