---
import { getCollection } from "astro:content";
const postListTitle = Astro.props.postListTitle || "Latest Posts";
const postLength = Astro.props.postLength || 10;
const postsResults = (await getCollection("posts"))
  .filter(({ data }) => {
    return data.publish === true;
  })
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
const paginatedPosts = postsResults.slice(0, postLength);
---

<h4 data-ui="display">
  {postListTitle}
</h4>
<ul data-list="unstyled">
  {
    paginatedPosts?.map((post) => (
      <li>
        <a href={`/posts/${post.slug}`}>{post.data.title} </a>
      </li>
    ))
  }
</ul>
