---
import { getCollection } from "astro:content";
const collection = Astro.props.collection || "Tags";
const collectionTag = Astro.props.collectionTag || "posts";
const allPosts = await getCollection(collectionTag);
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
---

<h4 data-ui="display">
  {collection}
</h4>
<ul data-list="unstyled">
  {
    tags?.map((tag) => (
      <li class="tag">
        <a href={`/tags/${tag}`}>{tag}</a>
      </li>
    ))
  }
</ul>
<style>
  a {
    text-transform: capitalize;
  }
</style>
