---
import type { TODO } from "#utils/types.js"

export type Props = {
  headings?: TODO;
  hash?: string;
}
const { headings } = Astro.props;
---

{headings?.length > 1 && (
   <> <ul data-list="unstyled">
      {headings.map((heading: TODO) => (
        <li>
         <a href={`#${heading.slug}`}>&#8595;  
          {heading.text}</a>
        </li>
      ))}
    </ul>
    <hr/>

    </>
  )}
  <style>
    a {
      font-weight: 600;
      font-size: var(--fs-5);
    }
  </style>