:root {
  --img-radius: 1rem;
  --error-color: firebrick;
  --success-color: green;
}
body {
  min-width: 20.3125rem;
}

main {
  padding-block: 2rem;
}

main > section {
  padding-inline: 2rem;
}

header {
  min-height: fit-content;
  padding-block: 3rem;
  grid-template-rows: minmax(300px, auto);
  div {
    > img {
      border-radius: var(--img-radius);
    }
  }
}

header > section > p {
  font-size: 2rem;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

h2 a[href] {
  font-size: var(--h2);
  /* color: currentColor; */
}

pre {
  padding: 1rem;
  border-radius: 0.5rem;
}

footer > div {
  flex-direction: column;
}

* + section {
  margin-block-start: 2rem;
}

section:where(> nav) {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

article > * + * {
  margin-block-start: 1.5rem;
}

article p {
  max-width: 80ch;
}

article img {
  /* border: 2px lightgray solid; */
  border-radius: 0.3rem;
}

code {
  color: rgb(158, 49, 49);
  font-size: smaller;
}

article li {
  font-size: unset;
  font-size: var(--fs-0);
}

p {
  max-width: 60ch;
}

article > figure:has(img[alt]) {
  min-width: 100%;
  background-color: transparent;
  border-radius: 0;
}

article > figure > img[alt] {
  min-width: 100%;
  border-radius: 0;
}

img + * {
  padding-block-start: 1rem;
}

.hidden {
  display: none;
}

section:has([data-grid], [data-flex]) {
  width: var(--content-w, 100%);
  padding-block: var(--space-l, 3rem);
  padding-inline: var(--px, 1rem);
  width: min(100%, 1480px);
  --card-gap: 1rem;
}
