---
import Layout from "../layouts/Layout.astro";
const pageTitle = "About us";
---

<Layout pageTitle={pageTitle}>
<h2>About You Me and the Gospel</h2>

<p>Welcome to <strong>You Me and the Gospel</strong>, a space where weekly LifeStudy and meaningful conversations about the Gospel, life, and everything in between takes place. This is where faith meets real-life experiences, creating a platform for exploration, reflection, and growth.</p>

<p>Currently in beta, our site features an innovative approach to sharing faith-inspired content. We’re excited to present a podcast powered by AI, created from live session audio. Each episode includes detailed AI-generated summaries and show notes, discussed Bible passages, and helpful references to deepen your understanding.</p>

<p>Whether you’re here to listen, read, or simply explore, <strong>You Me and the Gospel</strong> is designed to inspire thoughtful dialogue and foster connections grounded in faith. Join us on this journey as we navigate life together through the lens of the Gospel.</p>

</Layout>
