---
import Layout from "../layouts/Layout.astro";
import CollectionList from "#components/astro/CollectionList.astro";
import Episodes from "#components/Episodes.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "#utils/site-config.js";
---

<Layout
  pageTitle={SITE_TITLE}
  pageDescription={SITE_DESCRIPTION}
  showBreadcrumb={false}
  pageImageUrl="/images/astro-kit-cover.webp"
>
  <section slot="featured">
    <Episodes />
  </section>
  <section>
    <CollectionList pageSize={2} />
  </section>
</Layout>
