---
import Layout from "../layouts/Layout.astro";
import CollectionList from "#components/astro/CollectionList.astro";
import Episodes from "#components/Episodes.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "#utils/site-config.js";
---

<Layout
  pageTitle={SITE_TITLE}
  pageDescription={SITE_DESCRIPTION}
  showBreadcrumb={false}
  pageImageUrl="/images/astro-kit-cover.webp"
>
  <section slot="featured">
    <Episodes />
  </section>
  <section>
    <h3>
      Latest Collections
    </h3>
    <hr>
    <CollectionList pageSize={5} />
  </section>
</Layout>
<style>
  h2 {
    font-size: var(--fs-9);
  }
</style>