---
import Layout from "#layouts/Layout.astro";
---

<Layout>
  <section class="card">
    <a href="/" aria-label="card link"></a>
    <div>
      <h1>Title</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        odio maxime vero cum rem soluta quae reiciendis assumenda earum illo
        temporibus possimus eveniet nihil, perferendis inventore facere placeat
        atque modi.
      </p>
      <!-- <div>
          <p><a href="/about">About</a></p>
      </div> -->
    </div>
    <div>
      <button>Click me</button>
      <p><a href="/about">About</a></p>
    </div>
  </section>
</Layout>

<style>

</style>

